<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RekordboxReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <RekordboxReader.Properties.Settings>
            <setting name="d1ArtistPtr" serializeAs="String">
                <value />
            </setting>
            <setting name="d1TitlePtr" serializeAs="String">
                <value />
            </setting>
            <setting name="d2ArtistPtr" serializeAs="String">
                <value />
            </setting>
            <setting name="d2TitlePtr" serializeAs="String">
                <value />
            </setting>
            <setting name="mdPtr" serializeAs="String">
                <value />
            </setting>
            <setting name="port" serializeAs="String">
                <value>41379</value>
            </setting>
            <setting name="d3TitlePtr" serializeAs="String">
                <value />
            </setting>
            <setting name="d3ArtistPtr" serializeAs="String">
                <value />
            </setting>
            <setting name="d4ArtistPtr" serializeAs="String">
                <value />
            </setting>
            <setting name="d4TitlePtr" serializeAs="String">
                <value />
            </setting>
        </RekordboxReader.Properties.Settings>
    </userSettings>
</configuration>